:root{
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --my-name:rgb(164, 88, 81);
}
.projects-section{
    width: 100%;
    height: calc(120vh - 50px);
    background-color: rgb(80, 65, 122);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    }