:root{
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --my-name:rgb(164, 88, 81);
}

    .outer-shadow-p{
        box-shadow: var(--outer-shadow);
        height: 550px;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
    }
    .inner-shadow{
        box-shadow: var(--inner-shadow);
    }
     
    .project-section{
        padding: 80px 0 80px;
        min-height: calc(300vh-50px);
        display: flex;
        flex-wrap: wrap;

    }
    .row-project{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row; 
    }
    .project-section{
        padding: 80px 0 80px;
        min-height: 100vh;
    }
    /* .project-section .project-item{
        flex: 0 0 33.33%;
        max-width:33.33%;
        height: 500px;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-evenly;


    } */
    /* .project-section .project-item-inner{
        padding: 50px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;   
    } */
    .section-title{
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-top: 100px;
    }

    .project-item-title{
        font-size: 18px;
        margin-left: 20px;
        /* padding: 20px; */
        text-transform: capitalize;
        color: var(--oliveDrab7);
    }  
    .project-description{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        /* padding: 20px; */
        width: 300px;
    }
    .project-links{
        margin-top: 50px;
 
    }
    .project-section .project-item-inner a{
        font-size: 16px;
        margin: 20px 0 20px;
        text-transform: capitalize;
    }
    .project-section .project-item-img img{
        border-radius: 5px;
        /* width: 100%;
        height: 330px; */
    }
    .project-section .project-item-inner:hover .project-item-img img{
        transform: translateY(-10px);
    }
    .p-img{
        width: 400px;
        height: 300px;
        border-radius: 5px;
        padding: 5px;

    }
@media (max-width: 805px){
        .section-title{
         margin-top: 200px;
        }
}
    