:root{
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --my-name:rgb(164, 88, 81);
    --steelBlue:#5880A6;
}

    .outer-shadow{
        box-shadow: var(--outer-shadow);
    }
    .inner-shadow{
        box-shadow: var(--inner-shadow);
    }

    .about-section{
        padding: 80px 0 80px;
        min-height: 100vh;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section-title{
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom:60px ;
    }
    .section-title h2{
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        color: var(--steelBlue);
        text-transform: uppercase;
        margin: 0;
    }
    .section-title h2::before{
        content: attr(data-heading);
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: var(--my-name);
    }
    
    .about-section .about-img{
        flex: 0 0 40%;
        padding: 0 15px;
        
    }
    .about-section .about-img .img-box {
        padding: 31px 55px 30px 30px;
        border-radius: 52px;
    }
    .about-section .about-img .img-box img{
        width: 100%;
        border: 10px solid transparent;
        border-radius: 8px;
    }
    .about-section .info{
        flex: 0 0 60%;
        max-width: 60%;
        height: 55vh;
        padding: 50px 30px;
    }
    .about-section .info p{
        line-height: 26px;
        margin-bottom:30px ;
    }
    .about-section .info span{
        font-weight: 600;
    }
    .about-section .info .btn {
     margin: 30px 20px 0 0;
    }

    .btn{
        padding: 10px 25px;
        font-size: 18px;
        margin: 38px;
        font-weight: 600;
        color: var(--steelBlue);
        background-color: transparent;
        line-height: 1.5;
        cursor: pointer;
        border-radius: 30px;
        transition: all 0.3s ease;
        text-decoration: none;
    
    }
    .btn::after{
        border-radius: 30px;
    }