:root{
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --my-name:rgb(164, 88, 81);
}

.contact-section{
    padding: 10px 0 80px;
    min-height: 140vh;
    /* min-height: calc(300vh-50px); */

}
.contact-section .contact-item{
    flex: 0 0 50%;
    max-width:50%;
    padding: 15px;
}
.contact-section .contact-item-inner{
    padding: 40px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;   
}
.contact-section .contact-item-inner a{
    color:  #f54dc3;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin:15px 0 10px;
}
.phone-email{
    color:  #f54dc3;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin:15px 0 10px;
}
.sphone-email{
    font-weight: 600;
    color:#5880A6;;
}
.contact-section .contact-item-inner span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin:15px 0 10px;
}
.contact-section .contact-item-inner p{
    line-height: 26px;
    margin: 0;
    font-size: 16px; 
}