.contact-section{
   
    width: 100%;
    height: calc(120vh - 50px);
    background-color: rgb(35, 138, 156);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
       
}