:root{
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --my-name:rgb(164, 88, 81);
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.intro-section{
width: 100%;
height: calc(100vh - 50px);
background-color: rgb(5, 197, 37);
position: relative;
top: 70px;
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
}

.home-section{
    position: relative;
    /* height: calc(120vh - 50px); */
}

.row{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}
.home-section .full-screen{
    padding: 50px 0;
    min-height: 95vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 44%;
    padding: 20px 15px;
}
.home-section .home-text {
    padding: 30px;
}
.home-section .home-text p{
    color: #5880A6;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text h3{
    font-size: 40px;
    color: var(--my-name);
    margin: 0;
    font-weight: 700;
}
.home-section .home-text h1{
    color: #4b7aa7;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.home-section .home-img .img-box{
    max-width: 450px;
    display: block;
    margin: 10px;
    border-radius:50%;
    padding: 4px;
}
.home-section .home-img .img-box img{
    width:100%; 
    border-radius: 50%;
    border: 1px solid transparent; 
}

@media (max-width: 751px){
    .home-section .home-text,
    .home-section .home-img{
    max-width: 34%;
    }
    .home-section .home-text h3{
        font-size: 34px;
        
    }
    .home-section .home-text h1{
       
        font-size: 18px;
        
    }
}

@media (max-width: 685px){
    .home-section .home-text,
    .home-section .home-img{
    max-width: 44%;
    }
    .home-section .home-text h3{
        font-size: 34px;
        
    }
    .home-section .home-text h1{
        font-size: 18px; 
    }
    /* .home-section .full-screen{
    margin-top: 100px;
    } */
    .home-section .home-text {
        margin-top: auto;
    }
    .home-img{
        margin-top: -80px;
    }
    .home-section .home-img .img-box img{
        width:100%; 
        
    }
}